.loaderBackdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(31, 41, 55, 0.75);
}
