.watchTrailer {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffad49;
  backdrop-filter: blur(10px);
  color: #ebeef5;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.watchTrailer:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.backdrop {
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  width: 80%;
  max-width: 800px;
}

.closeButton {
  position: absolute;
  top: 0px;
  right: -40px;
  color: #fff;
  font-size: 20px;
  line-height: 0;
  border-radius: 4px;
  width: 32px;
  height: 32px;
}

.closeButton:hover {
  color: #f00909;
}

.closeButton:focus {
  outline: 2px solid #007bff;
}

.text {
  color: #fff;
  text-align: center;
}
