.loadMoreBtn {
  margin: 0 auto 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffad49;
  backdrop-filter: blur(10px);
  color: #ebeef5;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.loadMoreBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
